<div
  class="bg-slate-200 rounded-2xl w-full relative shadow-2xl"
  (contextmenu)="onContextMenu($event)"
>
  <div class="w-full h-max overflow-hidden rounded-2xl bg-slate-100">
    <quill-editor
      class="w-full bg-slate-200"
      [(ngModel)]="htmlText"
      [styles]="quillStyle"
      [modules]="quillConfig"
      [formats]="quillFormats"
      (paste)="onPaste($event)"
      placeholder="Tell me something anonymously.. or not"
    >
    </quill-editor>
  </div>

  <div
    class="absolute top-1 right-2 flex justify-between items-center gap-4 overflow-hidden"
  >
    <div class="flex gap-2">
      <label class="relative flex cursor-pointer items-center">
        <input type="checkbox" class="hidden" [(ngModel)]="stayAnon" checked />
        <div
          class="relative h-5 w-10 flex-shrink-0 rounded-full bg-gray-300 toggle-bg"
        >
          <div
            class="toggle-btn z-1 absolute inset-y-0 right-0 left-0 top-0 flex h-max w-max items-center justify-center rounded-full transition-all"
          >
            <div class="h-5 w-5 rounded-full bg-blue-500"></div>
          </div>
        </div>
        <span class="ml-3 text-gray-700">Stay anonymous</span>
      </label>
    </div>

    <button
      class="bg-slate-900 hover:bg-slate-800 focus:bg-slate-900 text-white hover:scale-105 transition-all font-medium py-1 px-4 rounded-full w-24 border border-black"
      (click)="onPost()"
    >
      Post
    </button>
  </div>
</div>
