<!-- <ng-container
  [ngTemplateOutlet]="
    cardSize === 'lg' ? lgCard : cardSize === 'md' ? mdCard : smCard
  "
> -->
<ng-container [ngTemplateOutlet]="lgCard"></ng-container>

<ng-template #lgCard>
  <div class="bg-slate-200 rounded-2xl shadow-2xl relative">
    <div class="flex flex-col items-center relative h-[24rem]">
      <img
        src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
        alt="cover photo"
        class="w-full h-60 object-cover"
      />
      <img
        src="https://image.kpopmap.com/2019/02/IU-LILAC.jpg"
        alt=""
        class="rounded-full w-52 h-52 absolute top-28 shadow-2xl"
      />
    </div>

    <div class="text-lg mx-auto w-max -mt-12">
      <p class="text-center font-bold">@{{ userData!.username }}</p>
      <p class="text-center font-semibold">{{ userData!.name }}</p>
    </div>

    <div class="flex justify-between my-8 w-1/2 mx-auto text-lg">
      <p class="h-8 cursor-pointer" (click)="onWhispersClicked()">
        {{ userData!.data.posts.length }}
        {{ userData!.data.posts.length === 1 ? "Whisper" : "Whispers" }}
      </p>
      <p class="h-8 cursor-pointer">
        {{ userData!.data.followerList.length }} Followers
      </p>
      <p class="h-8 cursor-pointer">
        {{ userData!.data.followingList.length }} Following
      </p>
    </div>

    <!-- user actions icons (right side) -->
    <div class="absolute right-20 top-72 flex gap-4">
      <!-- follow/unfollow button -->
      <div
        *ngIf="!userData.following; else unfollowBtn"
        class="border rounded-full border-black w-10 h-10 flex justify-center items-center cursor-pointer hover:bg-slate-300 transition-colors"
        (click)="onFollowAction(true)"
      >
        <i class="fa-solid fa-user-plus"></i>
      </div>
      <ng-template #unfollowBtn>
        <div
          #unfollowBtn
          class="border rounded-full border-black w-10 h-10 flex justify-center items-center cursor-pointer hover:bg-slate-300 transition-colors"
          (click)="onFollowAction(false)"
        >
          <i class="fa-solid fa-user-minus"></i>
        </div>
      </ng-template>

      <!-- message button -->
      <div
        class="border rounded-full border-black w-10 h-10 flex justify-center items-center cursor-pointer hover:bg-slate-300 transition-colors"
        (click)="onMessage()"
      >
        <i class="fa-solid fa-comment"></i>
      </div>

      <!-- options button -->
      <div
        class="border rounded-full border-black w-10 h-10 flex justify-center items-center cursor-pointer hover:bg-slate-300 transition-colors"
        (click)="onOptions()"
      >
        <i class="fa-solid fa-ellipsis"></i>
      </div>
    </div>

    <div class="absolute top-[18.875rem] left-20">
      <i class="fa-solid fa-cake-candles"></i>
      04 October 2000
    </div>

    <div class="py-8 px-16 -mt-12">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos neque
      voluptate debitis animi et dolor, earum amet quo excepturi aspernatur
      beatae laboriosam ad commodi eligendi minus voluptatibus itaque sequi
      quidem iusto reiciendis? Rem fugiat molestias debitis assumenda dicta
      perspiciatis placeat possimus voluptate at doloremque ipsa illum, magni
      ullam minima soluta.
    </div>
  </div>
</ng-template>

<ng-template #mdCard>mdCard</ng-template>

<ng-template #smCard>smCard</ng-template>
