<div class="rounded-2xl max-w-5/6 bg-slate-200 mx-auto p-4 w-[48rem] mt-4">
  <!-- top row. photo, username, date -->
  <section class="select-none">
    <div class="flex justify-evenly items-center relative w-5/6 mx-auto">
      <div
        class="w-1/3 text-center flex items-center justify-start gap-8"
        [ngClass]="{ 'cursor-pointer': !postData.IS_ANON }"
        (click)="onOpenProfile($event)"
      >
        <img
          [src]="
            postData.IS_ANON
              ? '../../assets/user/incognito.png'
              : 'https://image.kpopmap.com/2019/02/IU-LILAC.jpg'
          "
          [alt]="postData.IS_ANON ? 'anonymous' : postData.FROM_USERNAME"
          class="rounded-full w-10 cusor-pointer"
        />
        <p class="font-bold">
          {{ postData.IS_ANON ? "anonymous" : "@" + postData.FROM_USERNAME }}
        </p>
      </div>
      <span class="w-1/3 text-center">&nbsp;▶️&nbsp;</span>
      <div
        class="w-1/3 text-center flex items-center justify-end gap-8 cursor-pointer"
        (click)="onOpenProfile($event)"
      >
        <p class="font-bold">@{{ postData.TO_USERNAME }}</p>
        <img
          [src]="'https://image.kpopmap.com/2019/02/IU-LILAC.jpg'"
          [alt]="postData.TO_USERNAME"
          class="rounded-full w-10 cusor-pointer"
        />
      </div>
    </div>
  </section>

  <!-- upper middle row. timestamp -->
  <section class="">
    <div class="w-5/6 mx-auto">
      <span class="">{{ postData.POSTED_ON }}</span>
    </div>
  </section>

  <!-- middle row. body content -->
  <section class=""></section>

  <!-- bottom row. like, comment, share -->
  <section class=""></section>
</div>
