<div class="flex flex-col items-center">
  <app-profile-card
    [userData]="userData"
    [cardSize]="'lg'"
    class="max-w-5/6 w-[48rem] block shadow-2xl mb-8"
  ></app-profile-card>

  <app-create-post class="shadow-2xl w-[48rem] mb-8"></app-create-post>

  <ng-container *ngFor="let post of userData.data.posts; let i = index">
    <app-post-card
      [postData]="post"
      class="max-w-5/6 w-[48rem] block shadow-2xl mb-8"
      [ngClass]="{ 'mb-16': i === userData.data.posts.length - 1 }"
    ></app-post-card>
  </ng-container>

  <ng-container *ngIf="userData.data.posts.length === 0">
    <div class="text-2xl mt-12">No whispers yet!</div>
  </ng-container>
</div>

<pre>{{ userData | json }}</pre>
